
services:
  chat-service:
    build:
      context: .
      dockerfile: apps/chat_service/Dockerfile 
      args:
        PORT: ${CHATSERVICE_CONTAINER_PORT}
    container_name: ai-service_chat-service
    ports:
      - ${CHATSERVICE_HOST_PORT}:${CHATSERVICE_CONTAINER_PORT}
    environment:
      PORT: ${CHATSERVICE_CONTAINER_PORT}
      PG_DATABASE_URL: postgres://${DATABASE_PG_USER}:${DATABASE_PG_PASSWORD}@database:${DATABASE_CONTAINER_PORT}/${DATABASE_PG_DATABASE}
      LLM_PROVIDER: ${CHATSERVICE_LLM_PROVIDER}
      LLM_MODEL: ${CHATSERVICE_LLM_MODEL}
      LLM_KEY: ${CHATSERVICE_LLM_KEY}
    depends_on:
      database:
        condition: service_healthy
    networks:
      - ai-services
  database:
    image: postgres:18-alpine
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PG_PASSWORD}
      POSTGRES_DB: ${DATABASE_PG_DATABASE}
      POSTGRES_USER: ${DATABASE_PG_USER}
    ports:
      - ${DATABASE_HOST_PORT}:${DATABASE_CONTAINER_PORT}
    container_name: ai-service_database
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${PGUSER} -d ${PGDATABASE}"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - ai-services

networks:
  ai-services:
